<section class="todoapp">
			<header class="header">
				<h1><%= @list.name %></h1>
			</header>

			<section class="main">
				<ul class="todo-list">
          <li>
            <div class="view">
            </div>
          </li>
        </ul>
			</section>

			<footer class="footer">

			</footer>
		</section>